extends layout

block content
  h1= title
  p Welcome to #{title}
  h1 Israel Medina
  p Address: Dallas, Texas, Zip Code
  p Phone:
  p Email:
  p Website:
  p LinkedIn: URL
  p
    | GitHub: 
    a.uri(href='https://github.com/isramedi') https://gi thub.com/isramedi
  #education.section.level1
    h1 Education
    p
      | Bachelor of Science in Computer Science Expected: May 2020 Texas A&amp;a mp;M University-Commerce, Commerce, TX
    p
      | Bachelor of Science, Double Major in Mathematics Expected: May 2020 Texas A&amp;M University-Commerce, Commerce, TX
    p
      strong Certifications:
    p
      strong Other Relevant courses:
  #career-objective.section.level1
    h1 Career Objective
    pre.
      
  #relevant-courses.section.level1
    h1 Relevant Courses:
    pre.
      
  
